* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: courier;
  color: 	#696969;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  background-color: #F4F3F2;
  height: 22vh;
  padding-top: 10px;
}

.content {
  background-color: #F4F3F2;
  flex-direction: row;
  height: 58vh;
  font-size: 3vmax;
  background-image: url('./images/background.png');
  background-size: contain;
}

.details {
  background-color: #F4F3F2;
  height: 15vh;
  font-size: 4vmax;
}

.footer {
  flex-direction: row;
  background-color: #F4F3F2;
  height: 5vh;
  font-size: 1vmax;
}

.logo img {
  max-width: 90vw;
  max-height: 20vh;
  border-radius: 8px;
}

.illustration img {
  max-width: 90vw;
  max-height: 50vh;
  position: relative;
	background-color: #fff;
  padding: 7px;
  padding-bottom: 35px;
	margin: 10px;
	text-align: center;	
  -moz-box-shadow: 1px 1px 3px #222;
  -moz-transform: rotate(-5deg);
  -webkit-box-shadow: 1px 1px 3px #222;
  -webkit-transform: rotate(-5deg);
  box-shadow: 1px 1px 3px #222;
  -o-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.loc {
  font-size: 2vmax;
}

a {
  margin: 0 3px;
  text-decoration: none;
}

h2 {
  background: #C15F4C;
  padding: 4px 8px;
  color: #F4F3F2;
  margin: 0;
  font-size: 2vmax;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
}